
/*

/font-family: "Butterfly kids";sans-serif;
font-family: 'Oswald', sans-serif;
*/

/* 
colors 
top-nave-header => 
link-text
background 
active-button 

top section radial-gradient #1--#2
search box radial-gradient #3-#4

*/

:root {
    --prim: #213349;
    --text: #596573;
    --bgColor1: #f4f4f6;
    --bgColor2: #ffffff;
    --topHeaderColor: #26292e;
    --topHeaderGradient: #191a1e;
    --bannerColor: #e7718b;
    --highlightColor: #ec8da1;
    --borderColor: #f6efe7;
    --buttonColor: #213349;    
    --headerFont: 'Butterfly kids', sans-serif;
    --textFont: 'Roboto', sans-serif;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }
  
  /* ==========================================
  Single-colored icons can be modified like so:
  .icon-name {
    font-size: 32px;
    color: red;
  }
  ========================================== */
  
  .icon-bubbles2 {
    width: 1.125em;
  }

/*generic rules*/

h1, h2 {
    text-transform: capitalize;
}

h2 {
    font-family: var(--textFont);
}

a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--bgColor);
    font-family: var(--textFont);
    transition: color 0.5s ease;
}

a:hover {
    font-family: var(--textFont);
    color: var(--highlightColor);
}

p { 
    font-family: var(--textFont);
}

ul {
    list-style-type: none;
}

.sub-header {
    font-size: calc(20px + (28 - 20) * (100vw - 300px) / (800-300)); 
    font-weight: 700;
    text-transform: capitalize;
    margin: 20px;
}

.text {
    width: 95%;
}

.sr-only {
    display: none;
}
/*end generic rules*/

header {
    background-color: var(--prim);
}

.logo {
    font-family:  var(--headerFont);
    font-size: calc(24px + (48 - 24) * (100vw - 300px) / (800-300)); 
    font-weight: 600;
    color: var(--bgColor1);
}

.logo:hover {
    font-family: var(--headerFont);
    color: var(--highlightColor);
}

.soc-list-item {        
    width: 20vw;
    height: 40px;
    margin: 10px;
    padding: 5px 5px;
}

.icon-facebook { 
    padding: 5px;
    font-size:  calc(12px + (36 - 12) * (100vw - 300px) / (800-300));
    background-color: var(--bgColor1);
    border-radius: 50%;
}

.icon-facebook:hover {
    font-family: var(--headerFont);
    color: var(--highlightColor);
}

.icon-twitter {
    padding: 5px;
    font-size:  calc(12px + (36 - 12) * (100vw - 300px) / (800-300));
    background-color: var(--bgColor1);
    border-radius: 50%;
}

.icon-twitter:hover {
    font-family: var(--headerFont);
    color: var(--highlightColor);
}
.icon-rss {
    padding: 5px;
    font-size:  calc(12px + (36 - 12) * (100vw - 300px) / (800-300)); 
    background-color: var(--bgColor1);
    background-color: var(--bgColor1);
    border-radius: 50%;
}

.icon-rss:hover {
    font-family: var(--headerFont);
    color: var(--highlightColor);
}

.section1 {
    color: var(--bgColor1);
    background: radial-gradient(at 0% 0%, var(--bannerColor), var(--highlightColor));
}

button {
    width:120px;
    height: 50px;
    margin: 0 20px 20px 0;
    background-color: var(--topHeaderColor);
    border-radius: 10%;
    text-transform: capitalize;
    color: var(--bgColor1);
}

button:hover {
    color: var(--highlightColor);
}

.section2 {
    margin-top: 40px;
    border-bottom: 8px solid var(--highlightColor);
}

.section2 .sub-header {
    font-size:  calc(12px + (20 - 12) * (100vw - 300px) / (800-300));
    margin: 0 0 10px 0;
    padding: 0;
}

.product {
    width: 200px;
    height: 100px;
    margin: 10px 10px 60px 10px;;
    border: 10px solid lightgrey;
    background-color: black;
    box-shadow: 0 10px 8px #ddd;
}

.search {
    width: 30px;
    margin-left: 75px; 
    padding-top: 25px; 
}

.section3 {
    margin-top: 40px;
}

.section3 .sub-header {
    font-size:  calc(12px + (20 - 12) * (100vw - 300px) / (800-300));
    margin: 0 0 10px 0;
    padding: 0;
}

.bold {
    font-weight: 600;
}

footer {
    background-color: var(--prim);

}

.colophon {
    font-size:  calc(12px + (14 - 12) * (100vw - 300px) / (800-300));
    color: var(--bgColor1);
    margin: 20px 0 0 0;
}

footer .socials-list {
    margin: 15px 0 10px 0;
}

/*Lorraine Partridge 2021*/




