



/*

/font-family: "Butterfly kids";sans-serif;
font-family: 'Oswald', sans-serif;
*/

/* 
colors 
top-nave-header => 
link-text
background 
active-button 

top section radial-gradient #1--#2
search box radial-gradient #3-#4

*/

:root {
    --prim: #213349;
    --sec: #ff8901;
    --text: #596573;
    --bgColor1: #f4f4f6;
    --bgColor2: #ffffff;
    --topHeaderColor: #26292e;
    --topHeaderGradient: #191a1e;
    --bannerColor: #e7718b;
    --highlightColor: #ec8da1;
    --borderColor: #f6efe7;
    --buttonColor: #213349;    
    --headerFont: 'Butterfly kids', sans-serif;
    --textFont: 'Roboto', sans-serif;
}



.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }
  
  /* ==========================================
  Single-colored icons can be modified like so:
  .icon-name {
    font-size: 32px;
    color: red;
  }
  ========================================== */
  
  .icon-bubbles2 {
    width: 1.125em;
  }
  

/*generic rules*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

main {
    height: auto;
}

h1, h2 {
    text-transform: capitalize;
}

h2 {
    font-family: var(--textFont);
}
a {
    text-decoration: none;
    color: var(--bgColor);
    font-family: var(--textFont);
    transition: color 0.5s ease;
}


a:hover {
    font-family: var(--textFont);
    color: var(--highlightColor);
}

p { 
    font-family: var(--textFont);
}

ul {
    list-style-type: none;
}

section {
    width: 100%;
    height: auto;
}
.inner {
    width: 80%;
    margin: 0 auto;
}

.sub-header {
    text-transform: capitalize;
    margin: 20px;
}

.text {
    width: 95%;
}

.sr-only {
    display: none;
}
/*end generic rules*/

header {
    width: 100%;
    height: 80px;
    background-color: var(--prim);
}

.top-header {
    width: 80%;
    height: 80px;
    /*
    background-color: var(--topHeaderColor); */
}

h1 {
    padding: 0;
}

.logo {
    width: 30%;
    height: 80px;
    margin-top: 50px 0 0 0;
    font-family:  var(--headerFont);
    font-size: 48px;
    font-weight: 600;
    color: var(--bgColor1);
    display: inline;
}

.logo:hover {
    font-family: var(--headerFont);
    color: var(--highlightColor);
}

.socials-list {
    width: 240px;
    height: 80px;
    margin: 10px 0;
    padding: 10px 0;
}


.icon-facebook, .icon-twitter, .icon-rss {
    font-size: 42px;
    padding: 3px;
    background-color: var(--bgColor1);
    border-radius: 50%;
}

.icon-facebook:hover, .icon-twitter:hover, .icon-rss:hover {
    font-family: var(--headerFont);
    color: var(--highlightColor);
}

.top-nav, .footer-nav {
    width: 30px;
    height: 80px;
    margin-top: 0px;
    padding: 0;
    float: right;
}

.soc-list-item {
    width: 80px;
    height: 80px;
    padding: 0 10px;
    border-radius: 50%;
    display: inline;
}

.clear {
    clear: both;
}
.section1 {
    height: 400px;
    padding: 20px 0;
    background: radial-gradient(at 0% 0%, var(--bannerColor), var(--highlightColor));
    color: var(--bgColor1);
}

.section1 .sub-header {
    margin: 0px;
    font-size: 28px;
}

.section1 .block {
    width: 50%;
}

.block {
    float: left;
}

.block1 {
    height: 300px;
    padding: 10px 0;
}

.block1-text {
    width: 95%;
    height: auto;
    font-family: var(--textFont);
}

button {
    width:120px;
    height: 50px;
    margin: 0 40px 0 0;
    float: left;
    background-color: var(--topHeaderColor);
    border-radius: 10%;
    text-transform: capitalize;
    color: var(--bgColor1);
}

button:hover {
    color: var(--highlightColor);
}

.block2 {
    height: 300px;
    padding-left: 10%;
    display: block;
}

#laptop {
    width: 100%;
}

.section2 {
    height: 350px;
    background-color: var(--bgColor1);
    color: var(--topHeaderColor);
    border-bottom: 15px solid var(--highlightColor);
}

.section2 .block {
    width: calc(100% / 3);
    height: auto;
    background-color: var(--bgColor1);
}

#cloud {
    height: 40px;
    display: inline;
}


#chat {
    height: 35px;
    display: inline;
}

#sd {
    height: 35px;
    display: inline;
}


.section2 .text {
    width: 95%;
    font-family: var(--textFont);

}

.section3 {
    background-color: var(--bgColor2);
    height: 400px;
}

.section3 .text {
    font-size: smaller;
}

.section3 .block {
    width: 50%;
    height: 400px;
    background-color: var(--bgColor2);
} 

.block6 {
    width: 100%;
    height: 400px;
}

.product {
    width: 200px;
    height: 100px;
    margin: 10px 20px 60px 20px;;
    border: 10px solid lightgrey;
    float: left;
    background-color: black;
    box-shadow: 0 10px 8px #ddd;
}

.search {
    width: 30px;
    margin-left: 75px; 
    padding-top: 25px; 
}

.aside {
    width: 50%;
    height: 400px;
    float: right;
    background-color: var(--bgColor2);
}

aside p {
    float: left;
}

.aside .bold {
    font-weight: 800;
}

footer {
    width: 100%;
    height: 100px;
    background-color: var(--prim);
}

.footer-header {
    width: 80%;
    height: 80px;
}

.footer-nav {
    width: 50%;
    height: 80px;
    float: right;
} 

.colophon {
    width: 50%;
    height: 80px;
    display: inline;
}

.colophon-text {
    width: 50%;
    margin: 0;
    padding: 35px 0;
    color: var(--bgColor1);
    float: left;
}


